.toys-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-right: 10px;
  @media screen and (max-width: 1219px) {
    justify-content: center;
    margin-right: 0;
  }
}

.no-toys {
  font-size: $settings-font-size;
  margin-top: 0;
}
