.page-content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  @media screen and (max-width: 1219px) {
    flex-direction: column-reverse;
  }
}

.page-content-right {
  @include game-aside-container();
}
