.game-bg-img {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}

.game-bg-img1 {
  background-image: url('https://raw.githubusercontent.com/Evgenia-cyber/christmas-data/main/assets/bg/1.jpg');
}

.game-bg-img2 {
  background-image: url('https://raw.githubusercontent.com/Evgenia-cyber/christmas-data/main/assets/bg/2.jpg');
}

.game-bg-img3 {
  background-image: url('https://raw.githubusercontent.com/Evgenia-cyber/christmas-data/main/assets/bg/3.jpg');
}

.game-bg-img4 {
  background-image: url('https://raw.githubusercontent.com/Evgenia-cyber/christmas-data/main/assets/bg/4.jpg');
}

.game-bg-img5 {
  background-image: url('https://raw.githubusercontent.com/Evgenia-cyber/christmas-data/main/assets/bg/5.jpg');
}

.game-bg-img6 {
  background-image: url('https://raw.githubusercontent.com/Evgenia-cyber/christmas-data/main/assets/bg/6.jpg');
}

.game-bg-img7 {
  background-image: url('https://raw.githubusercontent.com/Evgenia-cyber/christmas-data/main/assets/bg/7.jpg');
}

.game-bg-img8 {
  background-image: url('https://raw.githubusercontent.com/Evgenia-cyber/christmas-data/main/assets/bg/8.jpg');
}

.game-tree-img {
  width: 77%;
}
