@mixin overlay() {
  background-color: $overlay-bg;
  @include blur-overlay();
}

@mixin card-overlay() {
  background-color: $overlay-bg-card;
  @include blur-overlay();
}

@mixin blur-overlay() {
  backdrop-filter: blur(5px);
}

@mixin container() {
  max-width: $max-width;
  margin: 0 auto;
  padding-left: $left-right-padding;
  padding-right: $left-right-padding;
}

@mixin icon-btn() {
  background: transparent;
  border: none;
  & img {
    width: 100%;
    height: 100%;
    @include icon();
  }
}

@mixin icon() {
  transition: filter $transition-duration-icons;
  &:hover {
    cursor: pointer;
    filter: $icons-filter;
  }
}

@mixin hover() {
  transition: color $transition-duration;
  &:hover {
    cursor: pointer;
    color: $hover-color;
  }
}

@mixin setting-title() {
  width: 285px;
  font-weight: 400;
}

@mixin game-setting-item() {
  border-radius: 5px;
  border: $button-border;
  @include card-overlay();
  & img {
    width: 100%;
    height: 100%;
    @include icon();
  }
}
