.footer {
  @include container();
  height: $footer-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-author {
  font-size: $button-font-size;
  @include hover();
}

.rs-school {
  height: $menu-icons-height;
  @include icon();
}
