body {
  margin: 0;
  color: $font-color;
  font-family: $accent-font-family;
  font-size: $basic-font-size;
  letter-spacing: $button-letter-spacing;
}

button {
  outline: none;
  font-family: $accent-font-family;
}

a {
  color: $font-color;
  text-decoration: none;
}

.page-content {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1219px) {
    flex-direction: column-reverse;
  }
}

.setting {
  margin-bottom: 25px;
}

.setting-title {
  @include setting-title();
}

