body {
  margin: 0;
  color: $font-color;
  font-family: $accent-font-family;
  font-size: $basic-font-size;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $accent-font-family;
}

button {
  outline: none;
}

a {
  color: $font-color;
  text-decoration: none;
}
